*{padding: 0; margin: 0;}

.page {
    width: 100vw;
    height: auto;
}
.page * {
    font-size: 2.0rem;
}
.page .container {
    width: 90%;
    margin: 0 auto;
}

.page .header {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
}
.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.page .header .header-logo {
    width: 15%;
    height: 8rem;

}

.page .header .header-nav{
    width: 70%;
    height: 15rem;
}
.page .header .header-nav .header-menu{
    width: 100%;
    height: 8rem;
}
.page .header .header-nav .header-menu .header-menu-item {
    width: 100%;
    height: 100%;
}
.page .header .header-nav .header-menu .header-menu-item li {
    padding: 0 1.7rem;
}
.page  .header .header-nav .header-search .header-search-item {
    width: 100%;
    height: 100%;
}
.page .header .header-nav .header-search .header-search-item li {
    padding: 0 1.7rem;
}

.page .header .header-nav .header-search .header-search-item li:nth-child(1) {
    width: 30%;
     border-right: 1px solid black;
}
.page .header .header-nav .header-search .header-search-item li:nth-child(2) {
    width: 20%;
    border-right: 1px solid black;
}
.page .header .header-nav .header-search .header-search-item li:nth-child(3) {
    width: 20%;
     border-right: 1px solid black;
}
.page .header .header-nav .header-search .header-search-item li:nth-child(4) {
    width: 30%;
}


.page .header .header-nav .header-search{
    width: 100%;
    height: 7rem;
    background: #fff;
    border-radius: 32px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);

}

.page .header .header-social {
    width: 15%;
    height: 8rem;
    color: red;
    height: 10rem;
}


.banner {
    width: 100%;
}
.banner-img {
    width: 100%;
    height: 90vh;
}
.banner-text {
    width: 30%;
    position: absolute;
    top: 55%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
}

.text-title {
    font-weight: bold;
    font-size: 3.2rem;
}
.text-excerpt {
    font-size: 1.6rem;
    margin: 16px 0;
}
.text-btn {
    font-size: 1.4rem;
    padding: 1rem;
    text-align: center;
    background: white;
    coloR: black;
    border-radius: 10px;
}


.content-1.d-flex {
    justify-content: space-between;
    padding: 20px 0 70px;
}
.content-1 .col-3 {
    width: calc(33.33% - 10px);
    height: 370px;
}
.content-1 .col-3 .col-3-img {
    width: 100%;
    height: 260px;
}
.content-1 .col-3 .col-3-text {
    height: 110px;
    width: 100%;
    overflow: hidden;
}

.content-2 {
    height: 780px;
    width: 100%;
    background: black;
    padding: 80px 5%;
    display: flex;
    flex-wrap: wrap;
}
.content-2-text {
    width: 40%;
    height: 100px;
    overflow: hidden;
}


.content-2 .text-btn2 {
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.content-2 .text-btn2 a {
    padding: 1.7rem;
    background: white;
}

.content-2-container {
    width: 100%;
    height: 640px;
    padding-top: 30px;
}
.content-2-container * {
    border-radius: 10px;
}
.content-2-container .content-2-col-left{
    width: 40%;
    height: 100%;
    overflow: hidden;
    padding-right: 20px;
}
.content-2-container .content-2-col-left .content-2-col-img {
    height: 560px;
}
.content-2-container .content-2-col-left .content-2-col-title {
    height: 80px;
    color: white;
}

.content-2-container .content-2-col-right {
    width: 60%;
    height: 100%;
    max-height: 640px;
    
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-2-container .content-2-col-right .content-2-col:nth-child(1){
    width: calc(50% - 10px);
    height: 50%;
}
.content-2-container .content-2-col-right .content-2-col .content-2-col-img {
    height: 250px;
    
}
.content-2-container .content-2-col-right .content-2-col .content-2-col-img img {
    object-position: top;
}
.content-2-container .content-2-col-right .content-2-col:nth-child(2){
    width: calc(50% - 10px);
    height: 50%;
}
.content-2-container .content-2-col-right .content-2-col:nth-child(3){
    width: 100%;
    height: 50%;
}